<!DOCTYPE html>

<html lang="en">
   
<head>
    
    <meta charset="utf-8"/>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    
    <meta name="description" content="Craig Frost is a Designer and Front-end Developer with a penchant for the simple and the functional.">
    
    <meta name="keywords" content="designer, developer, design, engineer, front-end, ux, ui, html, css, sass, git, web, sites, build, birmingham, london, uk, england, hire, icons, javascript, coffeescripts, prototyping">

    <meta name="author" content="Craig Frost">
    
    <title>Craig Frost, Designer</title>
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="/css/main.css" type="text/css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-55807633-1', 'auto');
      ga('send', 'pageview');
    </script>

</head>
    
<body>

    <header class="wrap--small primary-header">
            
        <h3 class="logo"><a href="/">Craig Frost</a></h3>
                
        <ul class="personal-links">
               
            <li><a href="mailto:c.frostwr1@gmail.com">c.frostwr1@gmail.com</a></li>
                
            <li><a href="https://twitter.com/_ctfd_uk">@_ctfd_uk</a></li>
               
            <li><a href="https://github.com/cfdesigner">GitHub</a></li>
                
            <li><a href="tel:07534189501">+44 7534 189 501</a></li>
                
        </ul>
            
        <p>
                
                I'm a Designer and Front-end Developer with a penchant for the simple and the functional. My work concentrates on digital tools to make the day-to-day easier, and more enjoyable.
                
        </p>
                
        <p>
                
        I'm looking for full time opportunities from May 2015, after graduating with an expected first-class honours from a bachelors degree in Graphic Design &amp; Multimedia.<span class="no-print"> If you think I could add value, {% if page.layout == "default" %}view my <a href="/resume">Résumé</a> and {% endif %}<a href="mailto:c.frostwr1@gmail.com">contact me</a>.</span>
                
        </p>
        
    </header>