<!DOCTYPE html>

<html lang="en">
   
    <head>

        <meta charset="utf-8"/>

        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <title>Craig Frost, Designer and Strategist in London</title>

        <meta name="description" content="Craig Frost is a London based Designer and Strategist available for hire">

        <meta name="author" content="Craig Frost">

        <meta name="google-site-verification" content="wbojZgTfEnoP5vTJegckMGMYj3G1kfviak5lEwZk9S0" />
        
        <link rel="stylesheet" href="/css/style.css">

    </head>
    
    <body>