h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
p,figure,
pre,table,fieldset,hr {
    @extend %spacing--small;
}

%wrap {
    @extend %center;
    padding-left: 20px;
    padding-right: 20px;
}

.wrap {
    @extend %wrap;
}

.wrap--small {
    @extend %wrap;
    max-width: 600px;
}

.wrap--large {
    @extend %wrap;
    max-width: 1300px;
}

%center {
    margin-left: auto;
    margin-right: auto;
}

%spacing--small {
    margin-bottom: $base-spacing;
}

%spacing--medium {
    margin-bottom: $base-spacing * 1.5;
}

%spacing--large {
    margin-bottom: $base-spacing * 2;
}

%island--small {
    padding-top : $base-spacing;
    padding-bottom: $base-spacing;
}

%island--medium {
    padding-top : $base-spacing * 1.5;
    padding-bottom: $base-spacing * 1.5;
}

%island--large {
    padding-top : $base-spacing * 2.5;
    padding-bottom: $base-spacing * 2.5;
}