h1,h2,h3,h4,h5,h6,hgroup,
ul,ol,dd,
p,figure,
pre,table,fieldset,hr, blockquote {
    @extend %spacing--small;
}

%spacing--small {
    margin-bottom: $base-spacing;
}

%spacing--large {
    margin-bottom: $base-spacing * 2;
}

%island--medium {
    padding-top : $base-spacing * 1.5;
    padding-bottom: $base-spacing * 1.5;
}