.logo {
    letter-spacing: 1px;
    
    a {
        border-bottom: none;
    }
}

.nav li {
    list-style: none;
    display: inline-block;
    margin-right: $base-spacing; 
    a {
        border-bottom: none;
        &:hover {
            color: darken($accent, 8%);
        }
    }
}

.introduction {
    @extend %island--medium;
}

.page-content {
    @extend %spacing--large;
}

::selection {
    color: white;
    background: black;
}