.primary-header {
    @extend %island--medium;
    border-bottom: 1px solid #dddddd;
}

.logo,
.primary-nav {
    margin-bottom: 0;
}

.logo {
    a {
        border-bottom: none;
    }
    @media (max-width: $breakpoint) {
        margin-bottom: $base-spacing;
    }
}

.primary-nav li {
    list-style: none;
    display: inline-block;
    font-size: 1.4rem;
    margin-right: $base-spacing; 
    a {
        border-bottom: none;
    }
}

.introduction {
    @extend %island--medium;
    p {
        color: #b2b2b2;
        @media (max-width: $breakpoint) {
        font-size: 1.4rem;
    }
    }
}

.post-list {
    @extend %island--medium;
    li {
        list-style: none;
        font-size: 1.4rem;
        padding: .5rem 0;
        &:not(:last-child) {
            border-bottom: 1px solid #dddddd;
        }
        a {
            border-bottom: none;
            padding-right: 100px;
        }
    }
    p {
        font-size: 1.4rem;
        color: #dddddd;
    }
}

.date {
    position: absolute;
    top: .5rem;
    right: 0;
    color: #dddddd;
}

.post-content {
    @extend %island--large;
    font-family: $post-font;
    font-size: 1.25rem;
    h1, h2 {
        font-weight: 700;
    }
}

.primary-footer {
    @extend %island--large;
    font-size: 1.4rem;
    color: #dddddd;
    a {
        border: none;
    }
}

.page-content {
    @extend %spacing--large;
}

::selection {
    color: white;
    background: black;
}