$base-spacing: 1.5rem;

$base-font-size: 100%;
$base-font-weight: 400;
$base-line-height: 1.6;
$primary-font: 'aktiv-grotesk-std', 'helvetica neue', sans-serif;
$post-font: "leitura-news", "georgia", serif;
$primary-font-color: #555;
$accent: #543195;
$bold: 700;

$breakpoint--medium: 800px;
$breakpoint--small: 500px;
