<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>    
        <title>Craig Frost, Designer and Strategist in London</title>
        <meta name="description" content="Craig Frost is a London based Designer and Strategist available for hire">
        <meta name="author" content="Craig Frost">
        <meta name="google-site-verification" content="wbojZgTfEnoP5vTJegckMGMYj3G1kfviak5lEwZk9S0" />      
        <link rel="stylesheet" href="/css/style.css">
    </head>    
    <body>
        {{ content }}
        <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-55807633-1', 'auto');
        ga('send', 'pageview');
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script>
        var api         = 'https://sheetsu.com/apis/v1.0/068d4a8ca418',
        twitterLink = '<a href="https://twitter.com/_ctfd_uk">Twitter</a>',
        pinterestLink = '<a href="https://uk.pinterest.com/cfrostdesign/">Pinterest</a>';
        $.ajax({
            url: api,
            dataType: 'json',
            type: 'GET',
            success: function(data) {
            $('.loader').hide();
            addEvents(data);
         },
         error: function(data) {
            console.log(data);
         }
        });
        addEvents = function(events) {
            var list = $('.js-events');
            for(var i=0; i<events.length; i++) {
                singleEvent = events[i];
                html = '<li>';
                if (singleEvent.source == 'twitter') {
                    if (singleEvent.recipient != "") {
                        html += 'Replied to a ';
                    } else {
                        html += 'Posted a ';
                    }
                 html += '<a href="'+singleEvent.url+'">tweet</a>';
                html += ' on ' + twitterLink;
            } else if (singleEvent.source == 'pinterest') {
             html += 'Pinned a ';
             html += '<a href="https://uk.pinterest.com/pin/'+singleEvent.url+'">Pin</a>';
             html += ' on ' + pinterestLink;
            }
            html += '</li>';
            list.append(html);
            }
        }
        </script>
    </body>
</html>
