{% include head.html %}
<h2 class="page-title">{{ page.title }}</h2>
<p class="page-date">Updated {% assign d = site.time | date: "%-d"  %}
{{ site.time | date: "%B" }}
{% case d %}
    {% when '1' or '21' or '31' %}{{ d }}<sup>st</sup>
    {% when '2' or '22' %}{{ d }}<sup>nd</sup>
    {% when '3' or '23' %}{{ d }}<sup>rd</sup>
    {% else %}{{ d }}<sup>th</sup>
  {% endcase %},
{{ site.time | date: "%Y" }}
</p>
<div class="post">
{{ content }}
</div>
<h3>See more</h3>

<ul>
    <li><p><a href="/coach/product">Product</a></p>
    </li>
    <li><p><a href="/coach/illustration">Illustration</a></p>
    </li>
    <li><p><a href="">Documentation</a></p>
    </li>
</ul>
{% include foot.html %}